@media (max-width: 50em) {
    .container {
        width: 100%;
    }

    .nav, nav ul{
        flex-direction: column;
    }

    .hero-content{
        width: 100%;
    }

    .hero-content p{
        width: 100%;
    }
    
    .split{
         flex-direction: column;
    }

    p {
        width: 80%;
    }

    .how-li{
        width: 100%;
    }

    .hero-content{
        width: auto;
        position: relative;
    }

    .hero-content h2{
        width: auto;
    }

    .why-head h2{
        width: auto;
    }

    .about-section{
      height: 45em;
    }

    .about-content{
      width: auto;
      padding: auto;
    }

    .about-bg p{
      width: 100%;
      position: relative;
    }
  
    .testimonial-section{
      position: static;
    }

    .testimonial-content{
      height: 60em;
    }

    .testimonial-li{
      width: auto;
    }



    .partner-section h3{
      margin-bottom: 10px;
    }

    .partner-section p{
      padding-top: 55px;
      text-align: center;
      width: auto;
    }

    .apply-section{
      margin-top: -50px;
    }

    .apply-bg h3{
      padding-top: 35px;
      margin-bottom: -10px;
    }

    .apply-bg button{
      padding: 16px 48px;
      width: 180px;
      height: 52px;
      left: 630px;
      top: 3723px;
      background: linear-gradient(96.67deg, #34A853 0%, #B8D344 100%);
    }
}

