/* @media (min-width: 40em) {
    .split {
      flex-direction: row;
    }
  
    .split > * {
      flex-basis: 100%;
    }
  
    .split > * + * {
      margin-left: 2em;
    }
  } */

@media (max-width: 30em) {
    .container {
        width: 100%;
    }

    .nav, nav ul{
        flex-direction: column;
    }

    .hero-content{
        width: 100%;
    }

    .hero-content p{
        width: 100%;
    }
    
    .split{
         flex-direction: column;
    }

    p {
        width: 80%;
    }

    .how-li{
        width: 100%;
    }
}

